{{>layouts/header}}


<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Content</th>

    </tr>
    </thead>
    <tbody>

    {{#article}}
    <tr>
        <td>{{id}}</td>
        <td>{{title}}</td>
        <td>{{content}}</td>
    </tr>
    {{/article}}
    </tbody>
</table>
<a href="/articles/List">전체목록</a>
<a href="/articles/{{article.id}}/edit" class="btn btn-primary">Edit</a>
<a href="/articles/{{article.id}}/delete" class="btn btn-danger">Delete</a>
{{>comments/_comments}}
{{>layouts/footer}}